{# Post Card #}
{% macro post_card(author, date, title, content, post_id, current_user=None) -%}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/'+ author.image_file) }}" alt="">
        <div class="media-body">
            <div class="article-metadata">

                <a class="mr-2" href="#">{{ author.username }}</a>
                <small class="text-muted">{{ date.strftime('%Y-%m-%d') }}</small>
                
                {% if author == current_user %}
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_post', post_id=post_id) }}">Update</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                {% endif %}

            </div>
            
            <h2><a class="article-title" href="{{ url_for('post', post_id=post_id) }}">{{ title }}</a></h2>
            <p class="article-content">{{ content }}</p>
        </div>
    </article>
{%- endmacro %}


{# Form Filed Elements #}
{% macro form_fild(fild_name) -%}
    <div class="form-group">
        {{ fild_name.label(class="form-control-label") }}

        {% if fild_name.errors %}
            {{ fild_name(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in fild_name.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ fild_name(class="form-control form-control-lg") }}
        {% endif %}
    </div>
{%- endmacro %}

{# Navigation Items #}
{% macro nav_item(item) -%}
    <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="{{ url_for(item) }}">{{ item }}</a>
    </div>
{%- endmacro %}